<template>
    <v-layout mt-4 justify-center>
        <v-flex md4 xs10 sm6 justyfy-center>
            <div v-if="message" class="alert_success">
                <p>{{message}}</p>
            </div>
            <v-form ref="form" @submit.prevent="forgot" lazy-validation>
                <v-text-field
                        type="text"
                        v-model="email"
                        v-validate="'required|email'"
                        label="Email Address"
                        name="email"
                        :error-messages="errors.collect('email')"
                ></v-text-field>
                <div>
                    <v-btn color="success" type="submit">Send Password Reset Link</v-btn>
                </div>
            </v-form>
        </v-flex>
    </v-layout>
</template>

<script>
    import { USER_SERVICE } from "../_services";
    export default {
        name: 'forgotPassword',
        data: function () {
            return {
                email: null,
                message: null
            }
        },
        methods: {
            forgot() {
                let email = this.email;
                this.$validator.validate().then(valid => {
                    if (valid){
                        USER_SERVICE.forgotPassword({email}).then(res => {
                            this.message = res.data.message;
                            this.errors.clear();
                        })
                        .catch(err => {
                            this.showErrors(err.response.data.errors, err.response.status);
                        });
                    }
                });
            }
        }
    }
</script>

<style lang="scss">
    .alert_success {
        background-color: #4caf50;
        padding: 10px;
        border-radius: 5px;
        p{
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            margin: 0;
        }
    }
</style>