<template>
    <section class="main">
        <side-bar-component></side-bar-component>
        <div class="home">
            <MapComponent/>
        </div>
    </section>
</template>

<script>
    import MapComponent     from '@/components/MapComponent.vue'
    import SideBarComponent from '@/components/SideBarComponent'
    import { PLACES_SERVICE } from '../_services';

    export default {
        name: 'home',
        components: {
            MapComponent,
            SideBarComponent
        },
        created() {
            this.fetchPlaces();
        },
        computed: {
            user() {
                return this.$store.getters.USER
            }
        },
        methods :  {
            fetchPlaces() {
                PLACES_SERVICE.allPlaces()
                    .then((res) => {
                        this.markers = res.data;
                        this.$store.dispatch('places', res.data);
                    })
                    .catch(err => {
                        this.showErrors(err.response.data.errors, err.response.status);
                    });
            }
        }
    }
</script>
