<template>
    <v-layout mt-4 justify-center>
        <v-flex md4 xs10 sm6 justyfy-center>
            <v-form ref="form" @submit.prevent="login" lazy-validation>
                <v-text-field
                        type="text"
                        v-model="email"
                        v-validate="'required|email'"
                        label="Email Address"
                        name="email"
                        :error-messages="errors.collect('email')"
                ></v-text-field>
                <v-text-field
                        type="password"
                        v-validate="'required'"
                        label="Password"
                        name="password"
                        v-model="password"
                        :error-messages="errors.collect('password')"
                ></v-text-field>
                <v-checkbox label="Remember me" v-model="remember" value="0"></v-checkbox>
                <v-layout>
                    <v-flex md4>
                        <v-btn color="primary" type="submit">Login</v-btn>
                    </v-flex>
                    <v-flex md6 xs12>
                        <p>
                            <router-link to="/forgot-password">
                                Forgot password?
                            </router-link>
                        </p>
                        <v-card-text class="text-md-right">
                            <small><router-link to="/register">You haven't an account? Go tp Register page</router-link></small>
                        </v-card-text>
                    </v-flex>
                </v-layout>
            </v-form>
        </v-flex>
    </v-layout>
</template>

<script>
    import { USER_SERVICE } from "../_services";
    export default {
        name: 'login',
        data: function () {
            return {
                errMsg: [],
                email: null,
                password: null,
                remember: false
            }
        },
        computed: {
            loggedIn() {
                return this.$store.getters.STATUS.loggedIn;
            }
        },
        mounted() {
            if (this.loggedIn) {
                this.$router.push('/');
            }
        },
        methods: {
            login() {
                let email = this.email,
                    password = this.password,
                    remember = this.remember;
                this.$validator.validate().then(valid => {
                    if (valid){
                        USER_SERVICE.login({email, password, remember})
                            .then(user => {
                                this.$store.dispatch('login', user);
                                localStorage.setItem('tg-app-user', JSON.stringify(user.data.success.user));
                                localStorage.setItem('tg-app-token', user.data.success.token);
                                this.$router.push('/');
                            })
                            .catch(err => {
                                this.showErrors(err.response.data.errors, err.response.status);
                            });
                    }
                });
            }
        }
    }
</script>

<style lang="scss">
    .login{
        display: flex;
        justify-content: center;
        justify-items: center;
    }
</style>