<template>
    <v-layout mt-4 justify-center>
        <v-flex md4 xs10 sm6 justyfy-center>
            <v-form ref="form" @submit.prevent="register" lazy-validation>
                <v-text-field
                        type="text"
                        v-validate="'required'"
                        label="User Name"
                        name="username"
                        v-model="username"
                        :error-messages="errors.collect('username')"
                ></v-text-field>
                <v-text-field
                        type="text"
                        v-validate="'required|email'"
                        label="Email Address"
                        name="email"
                        v-model="email"
                        :error-messages="errors.collect('email')"
                ></v-text-field>
                <v-text-field
                        type="password"
                        v-validate="'required'"
                        label="Password"
                        name="password"
                        v-model="password"
                        :error-messages="errors.collect('password')"
                        ref="password"
                ></v-text-field>
                <v-text-field
                        type="password"
                        v-validate="'required|confirmed:password'"
                        label="Password Confirmation"
                        name="password_confirmation"
                        v-model="password_confirmation"
                        :error-messages="errors.collect('password_confirmation')"
                ></v-text-field>
                <v-layout>
                    <v-flex md4>
                        <v-btn color="primary" type="submit">Register</v-btn>
                    </v-flex>
                    <v-flex md5 xs12>
                        <v-card-text class="text-md-right">
                            <small><router-link to="/login">You haven an account? Go to Login page</router-link></small>
                        </v-card-text>
                    </v-flex>
                </v-layout>
            </v-form>
        </v-flex>
    </v-layout>
</template>

<script>
    import { USER_SERVICE } from "../_services";
    export default {
        name: 'register',
        data: function () {
            return {
                username: null,
                email: null,
                password: null,
                password_confirmation: null
            }
        },
        computed: {
            loggedIn() {
                return this.$store.getters.STATUS.loggedIn;
            }
        },
        mounted() {
            if (this.loggedIn) {
                this.$router.push('/');
            }
        },
        methods: {
            register() {
                let name = this.username,
                    email = this.email,
                    password = this.password,
                    password_confirmation = this.password_confirmation;
                this.$validator.validate().then(valid => {
                    if (valid){
                        USER_SERVICE.register({name, password, email, password_confirmation})
                            .then(async (user) => {
                                localStorage.setItem('tg-app-user', JSON.stringify(user.data.success.user));
                                localStorage.setItem('tg-app-token', user.data.success.token);
                                this.$store.dispatch('register', user);
                                await this.$store.dispatch('places');
                                this.$router.push('/');
                            })
                            .catch(err => {
                                this.showErrors(err.response.data.errors, err.response.status);
                            });
                    }
                })
            }
        }
    }
</script>

<style lang="scss">

</style>