<template>
    <v-layout mt-4 justify-center>
        <v-flex md4 xs10 sm6 justyfy-center>
            <v-form ref="form" @submit.prevent="reset" lazy-validation>
                <v-text-field
                        type="text"
                        v-validate="'required|email'"
                        label="Email Address"
                        name="email"
                        v-model="email"
                        :error-messages="errors.collect('email')"
                ></v-text-field>
                <v-text-field
                        type="password"
                        v-validate="'required'"
                        label="Password"
                        name="password"
                        v-model="password"
                        :error-messages="errors.collect('password')"
                        ref="password"
                ></v-text-field>
                <v-text-field
                        type="password"
                        v-validate="'required|confirmed:password'"
                        label="Password Confirmation"
                        name="password_confirmation"
                        v-model="password_confirmation"
                        :error-messages="errors.collect('password_confirmation')"
                ></v-text-field>
                <v-layout>
                    <v-flex md4>
                        <v-btn color="primary" type="submit">Reset</v-btn>
                    </v-flex>
                </v-layout>
            </v-form>
        </v-flex>
    </v-layout>
</template>

<script>
    import { USER_SERVICE } from "../_services";
    export default {
        name: 'reset',
        data: function () {
            return {
                email: null,
                password: null,
                password_confirmation: null
            }
        },
        methods: {
            reset() {
                let token = this.$route.params.token,
                    email = this.email,
                    password = this.password,
                    password_confirmation = this.password_confirmation;
                this.$validator.validate().then(valid => {
                    if (valid){
                        USER_SERVICE.passwordReset({token, email, password, password_confirmation})
                            .then(user => {
                                localStorage.setItem('tg-app-user', JSON.stringify(user.data.success));
                                localStorage.setItem('tg-app-token', user.data.success.token);
                                this.$store.dispatch('resetPassword', user);
                                this.$router.push('/');
                            })
                            .catch(err => {
                                this.showErrors(err.response.data.errors, err.response.status);
                            });
                    }
                })
            }
        }
    }
</script>

<style lang="scss">

</style>