<template>
  <v-app id="app">
    <HeaderComponent/>
    <v-content class="container">
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
  import HeaderComponent from '@/components/HeaderComponent'
  export default {
      components: {
          HeaderComponent,
      },
      data: function () {
        return {

        }
      }
  }
</script>

<style lang="scss">
  body{
    width: 100%;
    margin: 0;
    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #2c3e50;

      .main{
        height: calc(100vh - 56px);
        display: flex;
        overflow: hidden;
        .container{
          margin: 0;
          display: flex;
          padding: 5px;
          flex: 1 1 auto;
        }
      }
    }
  }
</style>
