<template>
    <section class="header">
        <div id="nav">
            <ul>
                <li><router-link to="/">ToGo</router-link></li>
                <li v-if="!loggedIn"><router-link to="/register">Register</router-link></li>
                <li v-if="!loggedIn"><router-link to="/login">Login</router-link></li>
                <li v-if="loggedIn"><a @click="logout">Logout</a></li>
            </ul>
        </div>
        <MobileMenuComponent v-if="loggedIn" />

    </section>
</template>

<script>
    import { USER_SERVICE } from "../_services";
    import MobileMenuComponent from '@/components/MobileMenuComponent.vue';
    export default {
        components: {
            MobileMenuComponent
        },
        methods: {
            logout() {
                USER_SERVICE.logout()
                    .then(res => {
                        localStorage.removeItem('tg-app-user');
                        localStorage.removeItem('tg-app-token');
                        this.$store.dispatch('logout');
                        this.$router.push('login');
                    })
                    .catch(err => {
                        console.log(err.respose);
                    });
            }
        }
    }
</script>

<style lang="scss">
    .header {
        display: flex;
        position: sticky;
        flex-wrap: wrap;
        z-index: 1;
    }
    #nav {
        height: 56px;
        width: 100%;
        display: flex;
        background-color: #000;
        box-shadow: #000 0 -5px 7px 5px;
        z-index: 1;
        ul {
            list-style-type: none;
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            li{
                line-height: 3.5;
                padding: 0 10px;
                margin-right: 10px;
                display: inline-block;
                &:not(:first-of-type) {
                    float: right;
                 }
                a {
                    font-weight: bold;
                    text-decoration: none;
                    transition: .5s;
                    color: #bbb;
                    &:hover {
                         color: #42b983;
                     }
                    &.router-link-exact-active {
                         color: #42b983;
                     }
                }
            }
        }
    }


</style>