<template>
    <section class="map">
        <div class="places_section_mobile">
            <v-text-field
                    v-model="search"
                    label="Search marked places..."
                    prepend-inner-icon="search"
            ></v-text-field>
            <div class="places_item"
                 v-if="search && ((filterMarkerBy === 'visited' && location.visited) || filterMarkerBy === 'all' || (filterMarkerBy === 'planned' && !location.visited))"
                 @click="goTo(location)"
                 v-for="location in locations()"
            >
                <strong>{{location.name}}</strong>
                <p>{{location.description}}</p>
                <small class="loc" :class="location.visited?'visited':'planed'">{{location.visited?'visited':'planed'}}</small>
            </div>
        </div>
        <v-btn class="add_place" @click="markerAdd" v-if="place_selected" fab dark color="teal">
            <v-icon dark>add</v-icon>
        </v-btn>
        <GmapMap
                :center="center"
                :zoom="zoom"
                ref="gmap"
                map-type-id="terrain"
                :draggable="true"
                style="width: 500px; height: 300px"
                @click="getMarkerPosition($event)"
        >
            <GmapMarker
                    :key=""
                    :position="new_plan_position"
                    :clickable="false"
                    :draggable="true"
                    :icon="icon_planed"
                    v-if="show_new_plan"
            ></GmapMarker>
            <GmapMarker
                    :key="index"
                    v-for="(m, index) in places"
                    :position="m.position"
                    :clickable="true"
                    :draggable="false"
                    :icon="m.visited?icon_visited:icon_planed"
                    @click="info(m)"
                    v-if="(filterMarkerBy === 'visited' && m.visited) || filterMarkerBy === 'all' || (filterMarkerBy === 'planned' && !m.visited)"
            >
                <GmapInfoWindow :opened="m.details" @closeclick="m.details = false">
                    <v-flex>
                        <v-layout justify-center>
                            <h5>{{ m.name }}</h5>
                        </v-layout>
                        <v-layout justify-center>
                            <p>{{ m.description }}</p>
                        </v-layout>
                    </v-flex>
                    <div v-if="!m.visited">
                        <v-btn @click="removePlace(m.id)" small color="error">Remove</v-btn>
                        <v-btn @click="placeVisited(m.id)" small color="success">Visited</v-btn>
                    </div>
                    <div v-if="m.visited">
                        <v-layout justify-center>
                            <p v-bind:class="{'visited': m.visited}">
                                Visited
                            </p>
                        </v-layout>
                    </div>
                </GmapInfoWindow>
            </GmapMarker>

        </GmapMap>

        <v-layout row justify-center>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-card-title>
                        <span class="headline">User Profile</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-text-field
                                            v-model="place_name"
                                            label="Place Name"
                                            name="name"
                                            data-vv-validate-on="blur"
                                            v-validate="'required'"
                                            :error-messages="errors.collect('name')"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-textarea
                                            v-model="description"
                                            name="description"
                                            label="Legal middle name"
                                            auto-grow
                                    ></v-textarea>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
                        <v-btn color="blue darken-1" flat @click="markerCreate">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </section>
</template>

<script>
    import { PLACES_SERVICE } from '../_services';
    export default {
        name: 'MapComponent',
        data: function () {
            return {
                icon_planed: require('../../public/img/icons/planed.png'),
                icon_visited: require('../../public/img/icons/visited.png'),
                dialog: false,
                place_selected: false,
                place_name: null,
                description: null,
                lat: null,
                lng: null,
                zoom: 13,
                search: '',
                center: { lat:40.1772093, lng:44.5090478 },
                new_plan_position: { lat:0, lng:0 },
                show_new_plan: false,
                mobile_typing: false,
            }
        },
        methods: {
            locations() {
                if(!this.search) return this.places;
                return this.places.filter((item) => item.name.toLowerCase().includes(this.search.toLowerCase()))
            },
            removePlace(id) {
                PLACES_SERVICE.removePlace(id)
                    .then(res => {
                        this.$store.dispatch('removePlace', id);
                    })
                    .catch(err => {
                        this.showErrors(err.response.data.errors, err.response.status);
                    })
            },
            placeVisited(id) {
                PLACES_SERVICE.visited(id)
                    .then(res => {
                        this.$store.dispatch('placeVisited', id);
                    })
                    .catch(err => {
                        this.showErrors(err.response.data.errors, err.response.status);
                    })
            },
            info(place) {
                place.details = true;
            },
            markerAdd() {
                this.dialog = true;
            },
            markerCreate() {
                let name = this.place_name,
                    description = this.description,
                    lat = this.lat,
                    lng = this.lng;
                this.$validator.validate().then(valid => {
                    if (valid){
                        PLACES_SERVICE.addPlace({name, description, lat, lng})
                            .then(res => {
                                this.$store.dispatch('createPlace', res.data);
                                this.dialog = false;
                                this.place_name = null;
                                this.description = null;
                                this.show_new_plan = false;
                                this.$validator.errors.remove('name');
                            })
                            .catch(err => {
                                this.showErrors(err.response.data.errors, err.response.status);
                            });
                    }
                });
            },
            async getMarkerPosition(event) {
                this.place_selected = true;
                this.lat = event.latLng.lat();
                this.lng = event.latLng.lng();
                this.new_plan_position = { lat:this.lat, lng:this.lng };
                this.show_new_plan = true;
            },
            goTo (location) {
                this.mobile_typing = false;
                this.search = location.name;
                this.$root.$emit('changeCenter', { lat: +location.lat, lng: +location.lng });
            }
        },
        mounted() {
            this.$root.$on('changeCenter', (newCenter) => {
                this.center = newCenter;
            });
        }
    }
</script>

<style lang="scss">
    .pac-container.pac-logo { z-index: 999999; }
    .home {
        width: 100%;
        .map{
            position: relative;
            .search_input{
                width: 100%;
                height: 46px;
                @media (max-width: 786px) {
                    display: none;
                }
            }
            width: 100%;
            height: 100%;
            .vue-map-container  {
                width: 100% !important;
                height: 100% !important;
                .vue-map {
                    width: 100% !important;
                    height: 100% !important;
                }
            }
            .visited{
                color: #1c7430;
                font-size: 16px;
                font-weight: 600;
            }
            .add_place {
                position: fixed;
                z-index: 1;
                bottom: 15px;
            }
            .places_section_mobile {
                display: none;
                @media (max-width: 786px) {
                    display: block;
                }
                position: absolute;
                overflow-x: hidden;
                width: 100%;
                z-index: 9999;
                background-color: #fff;
                top: 0px;
                text-align: left;
                .places_item {
                    cursor: pointer;
                    padding: 10px;
                    height: 60px;
                    transition: .7s;
                    position: relative;
                &:not(:last-of-type){
                     border-bottom: 1px solid #4d575e38;
                 }
                &:hover {
                     box-shadow: #bbb 0 1px 5px 5px;
                     border-radius: 5px;
                 }
                .loc {
                    padding: 0 3px;
                    border-radius: 3px;
                    color: #fff;
                    top: 5px;
                    right: 10px;
                    position: absolute;
                &.planed {
                     background-color: #761b18;
                 }
                &.visited {
                     background-color: #1c7430;
                 }
                }
                }
            }
        }
    }
</style>