<template>
    <div class="side_bar_mobile">
        <ul>
            <li :class="{'active': filterMarkerBy === 'all'}" @click="$store.dispatch('changeMarkers', 'all')">To Go List</li>
            <li :class="{'active': filterMarkerBy === 'planned'}" @click="$store.dispatch('changeMarkers', 'planned')">Planed List</li>
            <li :class="{'active': filterMarkerBy === 'visited'}" @click="$store.dispatch('changeMarkers', 'visited')">Visited List</li>
        </ul>
    </div>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
    .side_bar_mobile {
        display: none;
        height: 45px;
        @media (max-width: 786px) {
            display: block;
            background-color: #151515;
            flex: 1 0 100%;
            ul{
                margin-top: 5px;
                list-style: none;
                display: block;
                padding: 0;
                li{
                    @media (max-width: 786px) {
                        display: inline-block !important;
                        width: 32%;
                    }
                    display: block;
                    text-align: center;
                    line-height: 2;
                    transition: .7s;
                    cursor: pointer;
                    color: #bbb;
                    &:hover{
                        box-shadow: #8586b1 0 15px 5px -16px;
                        color: #42b983;
                    }
                    &.active {
                         color: #42b983;
                     }
                }
            }
        }
    }
</style>
