<template>
    <section>
        <div class="side_bar">
            <ul>
                <li :class="{'active': filterMarkerBy === 'all'}" @click="$store.dispatch('changeMarkers', 'all')">To Go List &nbsp;&nbsp; &nbsp; ></li>
                <li :class="{'active': filterMarkerBy === 'planned'}" @click="$store.dispatch('changeMarkers', 'planned')">Planed List &nbsp;&nbsp; ></li>
                <li :class="{'active': filterMarkerBy === 'visited'}" @click="$store.dispatch('changeMarkers', 'visited')">Visited List &nbsp;&nbsp; ></li>
            </ul>
            <div class="places_section">
                <v-text-field
                        v-model="search"
                        label="Type keyword..."
                        prepend-inner-icon="search"
                ></v-text-field>
                <div class="places_item"
                     @click="goTo(location)"
                     v-for="location in locations()"
                     v-if="(filterMarkerBy === 'visited' && location.visited) || filterMarkerBy === 'all' || (filterMarkerBy === 'planned' && !location.visited)"
                >
                    <strong>{{location.name}}</strong>
                    <p>{{location.description}}</p>
                    <small class="loc" :class="location.visited?'visited':'planed'">{{location.visited?'visited':'planed'}}</small>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data: function () {
            return {
                search: null
            }
        },
        methods: {
            locations() {
                if(!this.search) return this.places;
                return this.places.filter((item) => item.name.toLowerCase().includes(this.search.toLowerCase()))
            },
            goTo (location) {
                this.$root.$emit('changeCenter', { lat: +location.lat, lng: +location.lng });
            },
        },
    }
</script>

<style lang="scss">
    .side_bar{
        position: relative;
        display: flex;
        width: 230px;
        background-color: #fff;
        transition: .5s;
        flex: 1 0 auto;
        height: 100%;
        @media (max-width: 786px) {
            display: none;
        }
        ul{
            margin-top: 5px;
            list-style: none;
            display: block;
            padding: 0;
            width: 100%;
            li{
                @media (max-width: 786px) {
                    display: inline-block !important;
                    margin-left: 40px;
                }
                @media (min-width: 786px) {
                    width: 100% !important;
                }
                display: block;
                padding: 0 15px;
                font-weight: 600;
                line-height: 3;
                transition: .7s;
                cursor: pointer;
                color: #000;
                &:hover{
                    box-shadow: #8586b1 0 15px 5px -16px;
                    color: #42b983;
                 }
                a{
                    text-decoration: none;
                    color: #fff !important;
                }
                &.active {
                     color: #42b983;
                 }
            }
        }
        .places_section{
            position: absolute;
            height: calc(100% - 150px);
            overflow-x: hidden;
            width: 100%;
            z-index: 9999;
            background-color: #fff;
            top: 150px;
            text-align: left;
            .places_item {
                cursor: pointer;
                padding: 10px;
                height: 60px;
                transition: .7s;
                position: relative;
                &:not(:last-of-type){
                     border-bottom: 1px solid #4d575e38;
                 }
                &:hover {
                     box-shadow: #bbb 0 1px 5px 5px;
                     border-radius: 5px;
                 }
                .loc {
                    padding: 0 3px;
                    border-radius: 3px;
                    color: #fff;
                    top: 5px;
                    right: 10px;
                    position: absolute;
                    &.planed {
                        background-color: #761b18;
                     }
                    &.visited {
                        background-color: #1c7430;
                    }
                }
            }
        }
    }
</style>